<div class="row new-line">
  <div class="col-sm-5">
    <hr />
  </div>
  <div class="col-sm-2">
    <p class="center_text horiontal-or">Oder</p>
  </div>
  <div class="col-sm-5">
    <hr />
  </div>
</div>
<div class="row social">
  <div class="col-md-8 col-md-offset-2">
    <p class="center_text">Anmelden über:</p>
    <div class="center_text" style="margin-left: -55px;">
    <div class="col-md-6 col-md-offset-4">
      <a href="/users/auth/facebook" class="btn btn-social-icon btn-facebook">
        <i class="social-button fa fa-facebook"></i>
      </a>
      <a href="/users/auth/twitter" class="btn btn-social-icon btn-twitter">
        <i class="social-button fa fa-twitter"></i>
      </a>
      <a href="/users/auth/google_oauth2" class="btn btn-social-icon btn-google-plus">
        <i class="social-button fa fa-google-plus"></i>
      </a>
    </div>
    </div>
  </div>
</div>