<div style="margin-top: 75px; padding-top: 15px; padding-bottom: 25px;" class="col-md-10 col-md-offset-1 landing-text">
  <h1 class="center_text">inEvent</h1>
  <p class="center_text">Du möchtest heute ins Theater, aber keiner hat Zeit? Du gehst gern wandern, aber keiner hat Lust? Einfach nur gemütlich was trinken gehen mit neuen Leuten? Hier findest du Gleichgesinnte!</p>
  <%= link_to "Jetzt nach Events suchen!", events_path, class: "center_text", style: "display: block; font-size: 32px; color: #044177; text-decoration: underline;" %>
</div>