<div class="row">
<footer id="footer">
	<div id="links">
		<%= link_to "Hilfe", "#" %>
		<span class="divider">|</span>
		<%= link_to "Kontakt", "#" %>
		<span class="divider">|</span>
		<%= link_to "Über uns", "#" %>
		<span class="divider">|</span>
		<%= link_to "Datenschutz", "#" %>
	</div>
</footer>
</div>